<div class="header-custom">
  <div class="logo-brand-banner">
    <%= image_tag "car-logo-white.svg", class:"svg-cust" %>
    <h1> DriveMe </h1>
    <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a car"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
    <%= link_to 'Rent Your Own Car', href='cars/new', class:"banner-button-cust btn p-3 rounded-pill"%>
</div>

<div class="cards-container-custom"> <%# houses all cards %>
  <% @cars.each do |car| %>
    <div class="m-3 card c-container bg-dark" style="width: 18rem;"> <%# houses individual car %>
      <div id="carousel-car-card-<%=car.id%>" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% if car.photos.attached? %>
            <div class="carousel-item active image-carousel">
              <%= cl_image_tag car.photos[0].key, class:'d-block w-100 card-img-cust', alt:"something" %>
            </div>
              <% car.photos[1..-1].each do |photo| %>
                <div class="carousel-item image-carousel">
                  <%= cl_image_tag photo.key, class:'d-block w-100 card-img-cust' %>
                </div>
              <% end %>
            <% elsif car.photos.attached? == false %> <%# if car.photos.attached? == false %>
              <div class="carousel-item active image-carousel">
                <img src="assets/placeholder.jpeg" class='d-block w-100 card-img-cust' width="288" height="189.59">
              </div>
              <div class="carousel-item active image-carousel">
                <img src="assets/placeholder.jpeg" class='d-block w-100 card-img-cust' width="288" height="189.59">
              </div>
          <% end %>
        </div>
    <button class="carousel-control-prev arrow-cust" type="button" data-bs-target="#carousel-car-card-<%=car.id%>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next arrow-cust" type="button" data-bs-target="#carousel-car-card-<%=car.id%>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div> <%# end of carousel %>

      <%# Text below image %>
      <div class="card-body">
        <h3 class="card-title"><%= car.brand.capitalize %> <%= car.model.capitalize %></h3>
        <p class="card-text">A Lovely <%= car.brand.capitalize %> in <%= car.color %>.</p>
        <p><%= "£#{car.price}/Day" %></p>
      </div>
      <div class="card-body border-top">
        <%= link_to "See more", car_path(car), class:"m-2 text-decoration-none" %>
      </div>

    </div> <%# end of individual card container %>
  <% end %> <%# end of @cars.all statement %>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div> <%#end of container for all cards %>
