<% @cars.each do |car| %>
<ul>
<li><%= car.brand %></li>
<li><%= car.model %></li>
<li><%= car.color %></li>
</ul>
<%= link_to 'View this car', car_path(car) %>
<% end %>

<p><%= link_to 'Add a car', href='cars/new'%></p>
