<h1> All Cars on Offer </h1>
<% @cars.each do |car| %>

<div class="cards-container-custom container rounded"> <%# houses all cards %>

  <div class="m-4 card c-container shadow" style="width: 18rem;"> <%# houses individual car %>
    <div id="carousel-car-card" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% if car.photos.attached? %>
          <div class="carousel-item active image-carousel">
            <%= cl_image_tag car.photos[0].key, class:'d-block w-100', alt:"something" %>
          </div>
          <% car.photos[1..-1].each do |photo| %>
            <div class="carousel-item image-carousel">
              <%= cl_image_tag photo.key, class:'d-block w-100' %>
            </div>
          <% end %>
          <% end %>
      </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <%# <%= cl_image_tag car.photo.key, alt:"Image of a #{car.brand} #{car.model} to rent" %>
    <div class="card-body">
      <h5 class="card-title"><%= car.brand %> - <%= car.model %></h5>
      <p class="card-text">A Lovely <%= car.brand %> in <%= car.color %></p>
      <p><%= "Price per day £#{car.price}" %></p>
    </div>
    <div class="card-body border-top">
      <%= link_to "See more", car_path(car), class:"m-2 text-decoration-none" %>
      <%#= link_to "Contact", "#", class:"m-2 text-decoration-none" %>
    </div>
  </div>

</div>

<% end %>

<p><%= link_to 'Add a car', href='cars/new', class:"btb btn-primary"%></p>
