<div class="head-banner-custom">
  <div class="logo-brand-banner">

    <div>
      <h1> Drive Away,</h1>
    </div>
    <div>
      <h1> Your Way. </h1>
    </div>

  </div>
      <%= link_to 'Rent Out Your Own Car', href='cars/new', class:"banner-button-cust btn p-3 rounded-pill"%>
      <%= image_tag "car-logo-white.svg", class:"svg-cust" %>
      <%= form_with url: cars_path, method: :get, class: "d-flex search-cars-bar" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "p-3 search-query form-control",
          placeholder: "Search for a car"
        %>
        <%= submit_tag "Search", class: "btn btn-dark" %>
      <% end %>
</div>

<div class="cards-container-custom mb-5"> <%# houses all cards %>
  <% @cars.each do |car| %>
    <% if car.active  %>
      <div class="m-3 card c-container bg-dark" style="width: 18rem;"> <%# houses individual car %>
        <a href="<%=car_path(car)%>%>" class="text-decoration-none">
        <div id="carousel-car-card-<%=car.id%>" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% if car.photos.attached? %>
              <div class="carousel-item active image-carousel">
                <%= cl_image_tag car.photos[0].key, class:'d-block w-100 card-img-cust', alt:"something" %>
              </div>
              <% car.photos[1..-1].each do |photo| %>
                <div class="carousel-item image-carousel">
                  <%= cl_image_tag photo.key, class:'d-block w-100 card-img-cust' %>
                </div>
              <% end %>
            <% else %> <%# if car.photos.attached? == false %>
              <div class="carousel-item active image-carousel">
                <img src="assets/placeholder.jpeg" class='d-block w-100 card-img-cust' width="288" height="189.59">
              </div>
              <div class="carousel-item active image-carousel">
                <img src="assets/placeholder.jpeg" class='d-block w-100 card-img-cust' width="288" height="189.59">
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev arrow-cust" type="button" data-bs-target="#carousel-car-card-<%=car.id%>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon arrow-icon-cust" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next arrow-cust" type="button" data-bs-target="#carousel-car-card-<%=car.id%>" data-bs-slide="next">
            <span class="carousel-control-next-icon arrow-icon-cust" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> <%# end of carousel %>

        <%# Text below image %>
        <div class="card-body">
          <h3 class="card-title"><%= car.brand.capitalize %> <%= car.model.capitalize %></h3>
          <p class="card-text">A Lovely <%= car.brand.capitalize %> in <%= car.color %>.</p>
          <p><%= "£#{car.price}/Day" %></p>
        </div>
        <div class="card-body border-top d-flex justify-content-center align-content-center">
          <%= link_to "See Details", car_path(car), class:"m-2 text-decoration-none" %>
        </div>
      </div> <%# end of individual card container %>
      </a>
    <% end %>
  <% end %> <%# end of @cars.all statement %>

</div> <%#end of container for all cards %>

<%# MAP %>
<h1 class="border-top py-5 mx-5"> Cars On The Map </h1>
  <div class="m-5">
    <div class="rounded-4 map-container"style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      class="position-relative">
    </div>
  </div>
<%= render "shared/footer" %>
