<div class="form-container">
  <%= simple_form_for @car do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :color %>
    <%= f.input :location %>
    <%= f.input :engine_size, label: "In Litres" %>
    <%= f.input :plate %>
    <%= f.input :price, label: "Price Per Day in Pounds £" %>
    <%= f.input :photos, as: :file, input_html: { multiple:true } %>
    <%= f.button :submit, class: "btn button-confirm w-100 rounded-pill" %>
  <% end %>
</div>
 <%= render "shared/footer" %>
