<ul><%= @car.brand %></ul>
<ul><%= @car.model %></ul>
<ul><%= @car.color %></ul>
<%# <%= link_to 'Delete this car', href='cars' %>

<ul>
  <% @car.bookings.each do |booking| %>
  <li> <%= "Start date: #{booking.start_date} - End date #{booking.end_date}" %>
  <% if current_user = @car.user %>
    <%= button_to "Delete this booking", booking, method: :delete %>
    <% else %>
    <%= nil %>
  <% end %>
  <%#= booking.user  %>
  <%#= link_to "Edit this booking", edit_booking_path(booking) %> </li>
  <% end %>
</ul>
 <%= current_user   %>
<%= link_to "Book this car", new_car_booking_path(@car) %>

<%# <%= link_to 'Delete this car', car_path(@car.destroy) %>

<%= link_to 'Back to cars', href='/cars' %>

<%= button_to 'Delete car', @car, method: :delete if policy(@car).destroy?%>
<% if policy(@car).edit?%>
<%= link_to 'Edit car', edit_car_path(@car) %>
<% end %>
