<div class="m-0 show-banner h-50"> <%# houses individual car %>
    <div id="carousel-car-card" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% if @car.photos.attached? %>
          <div class="carousel-item active image-carousel">
            <%= cl_image_tag @car.photos[0].key, class:'d-block w-100 banner-img-cust', alt:"Image of a #{@car.brand} #{@car.model}" %>
          </div>
          <% @car.photos[1..-1].each do |photo| %>
            <div class="carousel-item image-carousel">
              <%= cl_image_tag photo.key, class:'d-block w-100 banner-img-cust', alt:"Image of a #{@car.brand} #{@car.model}" %>
            </div>
          <% end %>
          <% end %>
      </div>
    <button class="carousel-control-prev arrow-cust" type="button" data-bs-target="#carousel-car-card" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next arrow-cust" type="button" data-bs-target="#carousel-car-card" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="text-bg-dark">
  <h2 class="p-3 m-0"> <%= @car.brand %> <%= @car.model %> in <%= @car.color %> </h2>
</div>

<div class="show-desc">

  <h2>Description:</h2>
  <div class="description card m-3 p-3">
    <p> <%=  "This is a lovely #{@car.color} #{@car.model} from #{@car.brand}. It is located in #{@car.location}." %> </p>
    <p> Details </p>
    <ul>
    <li> <%= "Price per day: #{@car.price}£" %>
    <li> <%= "Engine: #{@car.engine_size}" %>
    </ul>
  </div>

  <div class="d-flex justify-content-around">
    <ul>
      <% @car.bookings.each do |booking| %>
        <div class="booking">
          <% if current_user == booking.user %>
            <li> <%= "Start date: #{booking.start_date} - End date #{booking.end_date} - #{@car.price.to_i * ((booking.end_date - booking.start_date).to_i + 1)}£" %>
            <%= button_to "Cancel this booking", booking, method: :delete %>
          <% else %>
            <%= nil %>
          <% end %>
        </div>
      <% end %>
    </ul>

    <% if user_signed_in? %>
     <div class="row mb-5 justify-content-center">
        <div class="booking_form">
          <h3>Book this car now </h3>
          <%= simple_form_for [@car, @booking] do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: {data: { controller: "flatpickr"}, id: "range_start" } %>
            <%= f.input :end_date, as: :string, required: false, input_html: { data: { controller: "flatpickr" }, id: "range_end" } %>
            <%= f.submit "Get driving", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% else %>
      <p> You must be logged in to book this car </p>
    <% end %>
  </div>

  <div class="desc-buttons">
    <% if current_user == @car.user %>
      <%= button_to 'Delete car', @car, method: :delete, class:"btn btn-dark" %>
      <%= button_to 'Edit car', edit_car_path(@car), method: :get, class:"btn btn-dark" %>
    <% else %>
      <%= nil %>
    <% end %>
    <%= link_to 'Back to car list', href='/cars', class:"btn btn-dark" %>
  </div>
</div>
