<div class="m-0 show-banner h-50"> <%# houses individual car %>
  <div id="carousel-car-card" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% if @car.photos.attached? %>
        <div class="carousel-item active image-carousel">
          <%= cl_image_tag @car.photos[0].key, class:'d-block w-100 banner-img-cust', alt:"Image of a #{@car.brand} #{@car.model}" %>
        </div>
        <% @car.photos[1..-1].each do |photo| %>
          <div class="carousel-item image-carousel">
            <%= cl_image_tag photo.key, class:'d-block w-100 banner-img-cust', alt:"Image of a #{@car.brand} #{@car.model}" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <button class="carousel-control-prev arrow-cust" type="button" data-bs-target="#carousel-car-card" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next arrow-cust" type="button" data-bs-target="#carousel-car-card" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="p-5 bg-dark text-bg-dark title-card-show-cust d-flex justify-content-space-between gap-5 align-items-center">
  <h2> <%= @car.brand %> <%= @car.model %> in <%= @car.color %> </h2>
    <div class="d-flex justify-content-center align-items-center">
      <% if current_user == @car.user %>
        <% if @car.active == true %>
          <%= button_to 'Deactivate car', active_toggle_path(@car), method: :patch, class:"btn btn-dark desc-buttons p-4" %>
        <% else %>
          <%= button_to 'Activate car', active_toggle_path(@car), method: :patch, class:"btn btn-dark desc-buttons p-4" %>
        <% end %>
        <%= link_to 'Edit car', edit_car_path(@car), method: :get, class:"btn btn-dark desc-buttons p-4" %>
      <% end %>
      <%= link_to "Back to Search", :root, class:"btn btn-dark desc-buttons p-4"%>
    </div>
</div>

<div class="show-desc border">

  <div class="description-card m-3 p-4 bg-dark d-flex w-100"> <%# houses the items inside the desc card%>
    <div class="dab-container"> <%# holds description and booking together %>
      <p> <%=  "This is a lovely #{@car.color} #{@car.model} from #{@car.brand}. It is located in #{@car.location}." %> </p>
      <ul>
        <li> <%= "Price per day: #{@car.price}£" %>
        <li> <%= "Engine: #{@car.engine_size}" %>
         <%#= @car.active ? "This car is bookable" : 'This car is currently not bookable'  %>
      </ul>
      <% if @car.bookings.count >0 && user_signed_in? %>
        <div class="booking-items-container"> <%# contains each instance of a booking %>
          <% if @car.bookings.nil? == false %>
            <% sorted_bookings = @car.bookings.sort_by(&:start_date).reverse %>
            <% sorted_bookings.each do |booking| %>
              <% if current_user == booking.user %>
                <div class="bg-white p-4 booking-item-cust text-dark text-decoration-none">
                  <h2>Booked from:</h2>
                  <p><%= "#{booking.start_date.strftime("%a %d %B %Y")} to #{booking.end_date.strftime("%a %d %B %Y")}" %></p>
                  <p>Paid: <strong><%= "£#{@car.price.to_i * ((booking.end_date - booking.start_date).to_i + 1)}" %></strong></p>
                  <div class="booking-button-container d-flex">
                    <% if booking.start_date > Date.today %>
                      <%= button_to "Cancel Booking", booking, class: "btn button-cancel rounded-pill mx-2 my-1 p-2", method: :delete %>
                      <%= button_to "Edit Booking", booking, class: "btn button-edit rounded-pill mx-2 my-1 p-2" %>
                    <% else %>
                      <%= nil %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %> <%# end do car.bookings.each %>
          <% end %> <%# end main if %>
        </div>
      <% end %>
      </div>
     <div class="justify-content-center align-items-center booking-card-cust bg-white text-dark"> <%# booking card %>
          <% if user_signed_in? %>
            <h3>Book this car now </h3>
            <%= simple_form_for [@car, @booking] do |f| %>
              <%= f.input :start_date, as: :string, required: false, input_html: {data: { controller: "flatpickr"}, id: "range_start" } %>
              <%= f.input :end_date, as: :string, required: false, input_html: { data: { controller: "flatpickr" }, id: "range_end" } %>
              <%= f.submit "Get driving", class: "btn button-confirm w-100 rounded-pill" %>
            <% end %>
          <% else %>
            <p> You must be logged in to book a car </p>
          <% end %>
      </div>
    </div>
  </div>
</div>
